.title{
    background-color: black;
    display: flex;
    color: turquoise;
}
.pets{
    word-spacing: 230px;
}

body {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
    align-items: center;
}
footer {
    display:flex;
     position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }

  a{
      color:turquoise;
  }